$lime: 			       #d8ff00;
$orange: 		       #ff4e00;
$cyan:			       #00f6ff;
$white:			       #fafafa;
$opWhite:		       rgba(250,250,250,0.94);
$black:			       #020202;
$grey:			       #343434;
$opGrey:		       rgba(52,52,52, 0.95);
$opOrange:		       rgba(255,78,0, 0.85);
$opLime:		       rgba(216,255,0, 0.85);
$fadeGrey:		       rgba(52,52,52, 0.75);
$lightOpGrey:	       rgba(220,220,220, 0.75);
$lightGrey:		       #efefef;
$greyBorder:           #3a3a3a;