<header class="header" id="header">
    <a class="home" href="/">
        <img id="bikology-logo" class="bikology-logo" src="/build/img/brand/horiz-logo.png" />
    </a>
    <ul class="main-nav">
        <li>
            <a href="">
                {{> svg/bike }}
                Bike Builder
            </a>
        </li>
        <li>
            <a href="">
                {{> svg/rack }}
                The Rack
            </a>
        </li>
    </ul>
    <ul class="auth-nav">
        <li>
            <a href="">
                {{> svg/skull }}
                Login
            </a>
        </li>
    </ul>
    </ul>
</header>